CSS: @CHARSET "ISO-8859-1";
html 
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #a7a09a;
}
#wrap 
{
	width: 1024px;
	margin: 0 auto;
	background: #99c;
}
#header 
{
	height: 70px;
	padding: 5px 10px;
	background: #ddd;
	
}

#headerLogo{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

#searchBar
{
	height: 50px;
	padding: 5px 10px;
	background: yellow;
}

#searchBox{
	padding-left: 150px;
	padding-top: 13px;
}
#searchText{
	width : 600px;
}

#categories
{
	float: left;
	width: 200px;
	padding: 10px;
	background: #99c;
}
#mainContent 
{
	height: 500px;
	width: 100%;
}
#footer 
{
	clear: both;
	padding: 5px 10px;
	background: #cc9;
}
#footer p 
{
	margin: 0;
}
* html #footer 
{
	height: 1px;
}

#cereal {
    background-color: red;
    float: left;
    height: 50%;
    width: 50%;
}
.cheese {
    background-color: brown;
    float: left;
    height: 50%;
    width: 50%;
}
.iceCream {
    background-color: blue;
    float: left;
    height: 50%;
    width: 50%;
}
.meat {
    background-color: green;
    float: left;
    height: 50%;
    width: 50%;
}