CSS: @CHARSET "ISO-8859-1";
html 
{
	margin: 0;
	padding: 0;
	color: #000;
	background: #a7a09a;
}
#wrap 
{
	width: 1024px;
	margin: 0 auto;
	background: #99c;
}
#header 
{
	height: 70px;
	padding: 5px 10px;
	background: #ddd;
	
}

#headerLogo{
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

#searchBar
{
	height: 50px;
	padding: 5px 10px;
	background: yellow;
}

#searchBox{
	padding-left: 150px;
	padding-top: 13px;
}
#searchText{
	width : 600px;
}

#leftNav
{
	float: left;
	width: 20%;
	height: 100%;
	background: blue;
}

#main{
	height: 100%;
	width: 100%;
}

#mainContent 
{
	height: 500px;
	width: 100%;
}

#mainContentItemPage{
	height: 100%;
	width: 80%;
	float: right;
}
#footer 
{
	clear: both;
	padding: 5px 10px;
	background: #cc9;
}
#footer p 
{
	margin: 0;
}
* html #footer 
{
	height: 1px;
}

.cereal {
    background-color: red;
    float: left;
    height: 50%;
    width: 50%;
    font-size: 20px;
}

.cereal:HOVER{
	background-color: RED;  
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

.cheese {
    background-color: brown;
    float: left;
    height: 50%;
    width: 50%;
    font-size: 20px;
}

.cheese:HOVER{
	background-color: RED;  
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

.iceCream {
    background-color: blue;
    float: left;
    height: 50%;
    width: 50%;
    font-size: 20px;
}

.iceCream:HOVER{
	background-color: RED;  
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

.meat {
    background-color: green;
    float: left;
    height: 50%;
    width: 50%;
    font-size: 20px;
}

.meat:HOVER {
	background-color: RED;  
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

#itemList{
	width:200px;
	height:250px;
	padding: 20px;
	float:left;
	background: red;
}
