body{
	position: relative;
	width: 92%;
	height: 90%;
}

#topLogo{
	position: relative;
	width: 0%;
	height: 0%;
	float: left;
}

#Logo{
	height:40px;
	width: 200px;	
}

#TopMenu {
	margin-top: 25px;
	margin-left: 20px;
	position: relative;	
	width: 104%;
	height: 45px;
	background-color: #FFFFFF;
	border: 8px solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px #4E707C;
}

#TopMenuList {
	padding-top: 8px;
	padding-bottom: 8px;	
	padding-right: 5px;
	float: right;
}

#TopMenuList tr {
	padding-left: 10px;
}

#TopMenuList td {	
	padding-top: 10px;
	text-align: center;
	height: 30px;
}

#TopMenu a:link {
	text-decoration: none;
	color: #000000;
}

#leftMenu {
	margin-left: 20px;
	margin-top:20px;
	position: relative;
	top: 4%;
	padding-left: 15px;
	background-color: #FFFFFF;
	width: 170px;
	float: left;
	height:475px;
	text-align: center;
	border: 8px solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px #4E707C;
}

#leftMenuList table {
	padding: 10px;
}

#leftMenuList tr {
	padding-left: 10px;
}

#leftMenuList td {
	width: 130px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}

#leftMenu a:link {
	text-decoration: none;
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: normal;
	margin: 0;
	line-height: 1.1em;
	color: #000;
}
h1 {
	font-size: 2em;
	margin-bottom: .5em;
}
h2 {
	font-size: 1.75em;
	margin-bottom: .5142em;
	padding-top: .2em;
}
h3 {
	font-size: 1.5em;
	margin-bottom: .7em;
	padding-top: .3em;
}
h4 {
	font-size: 1.25em;
	margin-bottom: .6em;
}
h5, h6 {
	font-size: 1em;
	margin-bottom: .5em;
	font-weight: bold;
}

#buttons{
	border:0;
	padding:7px 15px;
	height:30px;
	line-height:15px;
	text-align:center;
	font-size:16px;
	color:#fff;
	text-shadow:#007dab 0 1px 0;
	background:#0092c8;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	cursor:pointer;
	margin-right: 5px;
	}
	
#main{
	width:100%;
}
	
#mainContent{
	margin-left:20%;
}	
	
#items {
	margin-left: 20px;
	margin-top:20px;
	margin-right: 12px;
	position: relative;
	top: 4%;
	padding-left: 15px;
	background-color: #FFFFFF;
	width: 18%;
	float: left;
	height: 220px;
	text-align: center;
	border: 8px solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px #4E707C;
}

#items:hover{
	box-shadow: 0 0 10px green;
}

#itemDetails{
	height: 58%;
}	

#itemName{
	width:90%;
	padding-top:20px;
	font-size: 16px;
	font-weight: bold;
	font-family: "Century Gothic", cursive;
	height: 30%
}

#itemNumber{
	width:90%;
	padding-top:15px;
	font-size: 15px;
	font-weight: bold;
	height:15%;
}

#itemQtyPerUnit{
	width:90%;
	padding-top:5px;
	font-size: 15px;
	font-weight: bold;
	height:15%;
}

#itemPrice{
	height:25px;
	font-weight: bold;
	font-size: 20px;
	clear: both;
}

#orderbuttons{
	border:0;
	padding:3px 7px;
	height:26px;
	line-height:13px;
	text-align:center;
	font-size:13px;
	color:#fff;
	text-shadow:#007dab 0 1px 0;
	background:Green;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	cursor:pointer;
	text-decoration: none;
}

#cartItems {
	margin-left: 20px;
	margin-top:20px;
	margin-right: 12px;
	position: relative;
	top: 4%;
	padding-left: 15px;
	background-color: #FFFFFF;
	width: 92%;
	float: left;
	height: 170px;
	text-align: center;
	border: 8px solid #EEEEEE;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px #4E707C;
}

#cartItemName{
	width:70%;
	text-align: left;
	padding-top:10px;
	font-size: 25px;
	font-weight: bold;
	font-family: Coronetscript, cursive;
}

#cartItemDetails{
	width:70%;
	text-align: left;
	padding-top: -10px;
	font-size: 15px;
}

#cartItems:hover{
	box-shadow: 0 0 10px blue;
}

#updateButtons{
	border:0;
	padding:0 9px;
	height:30px;
	line-height:16px;
	text-align:center;
	font-size:16px;
	color:black;
	text-shadow:#007dab 0 1px 0;
	background:Yellow;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	cursor:pointer;
	text-decoration: none;
	margin-top: 9px;
}

#footer{
	clear: both;
	margin-top: 25px;
	margin-left: 20px;
	position: relative;	
	width: 104%;
	height: 45px;
}

.itemQty{
	margin-bottom: 10px;
}	

#itemHeading{
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
	text-align: center;
	margin-top: 15px;
	font-size: 35px;	
}

#addtoCartNotification{
	margin-top:20px;
	font-family: "Palatino Linotype","Book Antiqua",Palatino,serif;
	text-align: center;
	font-size: 15px;	
	color: blue;
}

#quantity{
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 3px;
    margin: 0 20px 6px 6px;
    padding: 4px;
    position: relative;
    margin-right:20px;
    height:22px;
    width:115px;
}

#qLabel{
	font-weight:bold;
	float:left;
	text-align: left;
	margin-left:5px;
}

#qTextBox{
	margin-right:5px;
	float:right;
}